/****************COMMON RULES*******************/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Fira Sans Condensed';
  height: 34px;
  outline: none;
  cursor: pointer
}

/****************VIDEO RULES*******************/

.content {
  display: flex;
  gap: 30px;
  align-items: end;
  width: 1140px;
  height: 534px;
}

.result {
  width: 711px;
  height: 456px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/****************SEARCH RULES*******************/

/*textfield*/

.search-form {
  display: flex;
  gap: 40px;
  align-items: end;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  height: 54px;
}

.search-form__fieldset-title,
.search-form__label-text {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  background-color: inherit;
  color: white;
  border: solid white;
  border-width: 1px 0;
  width: 225px;
  outline: none;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:active {
  border: 1px solid white;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

/*checkbox*/

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: white;
}

.search-form__checkbox:disabled + .search-form__pseudo-checkbox {
  background-color: inherit;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: 1px underline;
  text-underline-offset: 3px;
}

.search-form__label {
  cursor: pointer;
}

/*button*/

.search-form__submit-button {
  width: 194px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__submit-button:hover {
  text-decoration: 1px underline;
}

.search-form__submit-button:active {
  background-color: #545050;
}

/****************CONTENT RULES*******************/

.content__details {
  grid-column: 3/4;
  width: 399px;
  height: 534px;
}

.title {
  display: inline-block;
  width: 259px;
  height: 210px;
  margin-bottom: 26px;
  font-size: 75px;
  font-family: 'Oswald';
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 399px;
  height: 298px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
}

.content__video-card-description-container {
  width: 196px;
  height: 103px;
}

.content__video-card-title {
  font-weight: 700;
  font-family: 'Oswald';
  font-size: 30px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-weight: 400;
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
  line-height: 16.2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__card-link {
  text-decoration: none;
  color: white;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: 1px underline;
}

.content__card-link:focus-visible {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  border: 1px solid white;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}